*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #444444;
    background-color: black;
    color: #ffffff;
    font-family: 'Red Hat Display', sans-serif;
 
}


.main-container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.main-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('library.jpg');
    background-repeat: no-repeat;
       background-attachment: fixed;

    /* background-position: left; */
    top: 0%;
    right: 0%;
    z-index: -1;
    opacity: 0.3;
    filter: blur(1px);
}

header{
   width: 100%;
   height: auto;
   /* margin-top: 2%; */
}

header img{
    width: 10%;
    width: 143px;
    display: block;
    margin: auto;
    filter: brightness(22.5);
    padding-top: 1%;
}











.navigation{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
}

.navigation li{
    list-style: none;
    /* font-size: 2rem; */
}

.side-menu{
    display: none;
    transition: 0s all;
}
.side-menu-open{
    display: none;
    transition: 0s all;
}




form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-top: 4%;
    
}

form .heading{
    
    margin-bottom: 2%;
    color: #5fb4ff;
    color: #2890d0;
}

label{
    color: #5fb4ff;
}


/* .input-containers{
    width: 100%;
} */

input[type="text"]{
    width: 308px;
    height: 31px;
    height: 40px;
    padding: 4%;
}

.error-color{
    border: 2px solid red;
}

#error-1{
    color: indianred;
    font-size: 0.8rem;
}
#error-2{
    color: indianred;
    font-size: 0.8rem;
}

input[type="password"]{

    width: 308px;
    height: 31px;
    height: 40px;
    padding: 4%;

}

ol{
    list-style: none;
    text-align: left;
    margin-left: 7%;
}



#btn-1{
    width:308px ;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: black;
    color: white;
    background-color: #0092d1;
    color: white;
    font-size: 1rem;

}
#btn-2{
    width:308px ;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: black;
    background-color: #0092d1;
    color: white;
    font-size: 1rem;

}

#btn-1, #btn-2{

}

section{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 14%;
    background-color: #0097d173;
    padding-top: 10%;
    padding-bottom: 2%;
    color: #adadad;
    color: #ffffff;
    padding-bottom: 16%;
}

.notice-board-heading{
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin-top: 0;

}

.boxes{
    width: 360px;
    border: 2px solid black;
    padding: 2%;
}

.side-menu{
    display: none;
}



footer{
    height: 10vh;
    width: 100%;
    display: flex;
}

footer h4{
text-align: center;
margin: auto;
width: 100%;
word-spacing: 2px;
}

footer h4 span{
    /* margin: 0 2%; */
}




@media screen and (max-width:1024px) {


.navigation{
    display: none;
}

    .hamburger{
        position: absolute;
        position: fixed;
        top: 96px;
        top: 66px;
        right: 15px;
        z-index: 2;
    }
    
    .patty{
        background-color: white;
        width: 3vw;
        width: 40px;
        height: 0.7vh;
        height: 5px;
        margin: 7px;
    }
    
   
        .turn1{
        rotate: 45deg;
        margin-bottom: -9%;
        margin-top: 33%;
    }
    
    .turn2{
        rotate: -45deg;
        margin-top: 0px;
    }
    .turn3{
         display: none;
    }
    
    
    /* .patty:nth-child(1){
        background-color: orange;
    }
    .patty:nth-child(2){
        background-color: yellow;}
    .patty:nth-child(3){
        background-color: green;
    } */





    .side-menu{
        width: 25%;
        height: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5%;
        margin-left: 0;
        padding-left: 0;
        right: 0;
        list-style: none;
        gap: 3rem;
        margin-top: 0;
        z-index: 1;
        margin-right: -25%;
        background-color: #003f6c;
        transition: 3s all;
      
    }
    
    .side-menu-open{
        margin-right: 0%;
        transition: 2s all;
      
    }
    

    
}
@media screen and (max-width:768px) {

    .side-menu {
        width: 40%;
        width: 308px;
        width: 269px;
        margin-right: -56%;
        padding-top: 110px;
    }

    .side-menu-open{
        margin-right: 0%;
    }

    section {
        padding-right: 9%;
        padding-left: 9%;
    }


    .boxes h2{
        font-size: clamp(0.1rem, 2.1vw + 0.5rem, 7rem);

    }
    .boxes p{
        font-size: clamp(0.1rem, 1vw + 0.5rem, 1rem);
    }

    header img{
        padding-top: 84px;
    }
    .hamburger{
        top: 23px;
    }

    .boxes{
        padding: 4%;
    }

}
@media screen and (max-width:480px) {
body{
    background-color: #444444;
}
    .main-container::before{
   
        opacity: 0.5;
        
    }



    section{
        padding-bottom: 16%;
    }

    .side-menu{
        width: 100%;
        margin-right: -100%;
    }
    .side-menu-open{
        margin-right: 0%;
    }

    form{
        padding-bottom: 10%;
        width: 93%;
        margin: auto;
        background-color: rgba(0,0,0,0.5);
/*         background-color: #52525294; */
        margin-top: 7%;
    }

    .hamburger{
        top: 21px;
        position: absolute;
    }

    header img {
        padding-top: 87px;
    }

    form{
        /* font-size: clamp(0.1rem, 2.9vw + 0.3rem, 1rem); */
        font-size: 1.3rem;
    }
    #btn-1{
        font-size: clamp(0.1rem, 2.9vw + 0.3rem, 1rem);
        width: 65%;
        min-width: 64%;
        width: max(80%,247px);
    }
    #btn-2{
        font-size: clamp(0.1rem, 2.9vw + 0.3rem, 1rem);
        width: 65%;
        min-width: 64%;
        width: max(80%,247px);

    }


    #error-1{
        color: red;
        font-size: 0.8rem;
    }
    #error-2{
        color: red;
        font-size: 0.8rem;
    }

    form h1{
        font-size: clamp(1rem, 5.1vw + 0.5rem, 7rem);
    }
    .input-containers{
        width: 100%;
    }

    input[type="text"] {
        width: 65%;
        min-width: 64%;
        width: max(80%,247px);
    }
    input[type="password"] {
        width: 65%;
        min-width: 64%;
        width: max(80%,247px);
    }

    .notice-board-heading {
        margin-bottom: 0;
    }

    footer h4{
        font-size: clamp(0.1rem, 2.1vw + 0.2rem, 7rem);
    }
}




